<section id="contact">
	<div class="center">
		<h2 style="font-weight: 600;color: #007b55;;">Contact</h2>
	</div>
	<div class=" container center">		
		<a href="https://github.com/marcmorata22" target="_blank"><i class="fab fa-github contactIcons"></i></a>
		<a href="https://www.linkedin.com/in/marc-morata-2ab939162/" target="_blank"><i class="fab fa-linkedin contactIcons"></i></a>
		<a href="mailto:perezmoratamarc@gmail.com" target="_blank"><i class="far fa-envelope contactIcons"></i></a>	
	</div>
	<footer class="footer"><small>Developed and designed by Marc Morata Perez. ©2022. All rights reserved.</small></footer>
</section>