.center{
    align-items: center;
    text-align: center;
    justify-content: center;  
    padding-top: 30px;      
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}
.margins {
    padding-top: 30px;      
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.contactIcons{
    font-size: 40px;
    color: #007b55;
    margin: 30px;
}
.contactIcons:hover { 
    color:whitesmoke;
}
.footer{
    align-content: left;
    color:white; height: 100%;
    padding: 30px;
}