<div class="container" >
	<h2 style="font-weight: 600;color: #007b55;">About me</h2>
	<div class="row margins" style="line-height: 1.8; ">
		<div class="col-md-6" style="align-content: left;"><h5><span class="importantWords">I'm a Full Stack Website Developer</span> with 2 years of professional experience and I have great knowledge with <span class="importantWords">JavaScript and C#.</span></h5> Besides having worked professionally with the <span class="importantWords">AngularJs</span> framework, many of my personal projects have been done with <span class="importantWords">Angular</span> as is the case of my portfolio, the website you are viewing now.
		<br /><br />
		I am an organized person with a great self-taught capacity that has allowed me to carry out and overcome any kind of project or challenge. My goal is to continue learning and progressing in the world of programming to be a great professional.
		<br /><br />
		<a type="button" class="btn btn-success" download="Marc Morata CV" style="padding:2%" 
		 href="/assets/image/CVEN_Marc_Morata_EN.pdf"><i class="fas fa-file-download"></i> Download CV
		</a>
		</div>
		<div class="col-md-6">
			  <h5> <span class="importantWords">Skills</span></h5>
			  <img class="imgIcons" src="/assets/image/angu.png">
              <img class="imgIcons" src="/assets/image/boostrap.png">
              <img class="imgIcons" src="/assets/image/c.png">
              <img class="imgIcons" src="/assets/image/css.png">
              <img class="imgIcons" src="/assets/image/entity.png">
              <img class="imgIcons" src="/assets/image/git.png">
              <img class="imgIcons" src="/assets/image/html.PNG">
              <img class="imgIcons" src="/assets/image/js.png">
              <img class="imgIcons" src="/assets/image/php.jpg">
              <img class="imgIcons" src="/assets/image/sql.jpg">            
		</div>
	</div>
</div>
<br /><br /><br /><br />
<div class="container">
	<h2 style="font-weight: 600;color: #007b55;">Projects</h2>
	<div class="row margins">
		<div class="col-md-1">
			<div class="image">
				<div class="image__overlay image__overlay--primary">
				<div class="image__title">Portfolio</div>
			     <p class="image__description">
			     <button type="button" class="btn btn-success"></button><button type="button" class="btn btn-success"></button>
		         </p>
				</div>
			</div>
		</div>
	</div>
</div>
