<section id="about">
<br /><br /><br />
<div class="container" >
	<h2 style="font-weight: 600;color: #007b55;">About me</h2>
	<div class="row margins" style="line-height: 1.8; ">
		<div class="col-md-6" style="align-content: left;"><h5><span class="importantWords">I'm a Full Stack Website Developer</span> with 2 years of professional experience and I have great knowledge with <span class="importantWords">JavaScript and C#.</span></h5> Besides having worked professionally with the <span class="importantWords">AngularJs</span> framework, many of my personal projects have been done with <span class="importantWords">Angular</span> as is the case of my portfolio, the website you are viewing now.
		<br /><br />
		I am an organized person with a great self-taught capacity that has allowed me to carry out and overcome any kind of project or challenge. My goal is to continue learning and progressing in the world of programming to be a great professional.
		<br /><br />
		<a type="button" class="btn btn-success" download="Marc Morata CV" style="padding:2%; margin-bottom: 4px;"
		 href="assets/image/CVEN_Marc_Morata_EN.pdf"><i class="fas fa-file-download"></i> Download CV
		</a>
		</div>
		<div class="col-md-4 offset-md-1" style="padding-left: 10px;">
			  <h4> <span class="importantWords">Skills</span></h4>
			  <img class="imgIcons" src="assets/image/angu.png" title="Angular">
              <img class="imgIcons" src="assets/image/boostrap.png" title="Boostrap">
              <img class="imgIcons" src="assets/image/aspnet.png" title="ASP.NET">
              <img class="imgIcons" src="assets/image/css.png" title="CSS">
              <img class="imgIcons" src="assets/image/entity.png" title="Entity Framework">
              <img class="imgIcons" src="assets/image/git.png" title="Git">
              <img class="imgIcons" src="assets/image/html.PNG" title="HTML">
              <img class="imgIcons" src="assets/image/js.png" title="JavaScript">
              <img class="imgIcons" src="assets/image/node.png" title="NodeJs">
              <img class="imgIcons" src="assets/image/mongo.png" title="MongoDB">
              <img class="imgIcons" src="assets/image/php.jpg" title="PHP">
              <img class="imgIcons" src="assets/image/sql.jpg" title="SQL Server">
		</div>
	</div>
</div>
</section>
<br /><br /><br /><br /><br /><br />
<section id="projects">
<br /><br /><br />
<div class="container">
	<h2 style="font-weight: 600;color: #007b55;">Projects</h2>
	<br /><br />

		<div class="container">
      <div class="row margins">
			<div class=" col-md-4" style="padding: 10px;">
					<div class="image">
						<img class="image__img" src="assets/image/portfolio.PNG">
						<div class="image__overlay image__overlay--primary">
						<div class="image__title">Portfolio</div>
            <div>Angular</div>
						<p class="image__description">
              <br />
						<a type="button" class="btn btn-dark" style="margin-left: 5px;" href="https://github.com/marcmorata22/myPortfolio" target="_blank">Repository</a>
						</p>
						</div>
					</div>
			</div>
			<div class=" col-md-4"  style="padding: 10px;">
					<div class="image">
						<img class="image__img" src="assets/image/hockey.PNG">
						<div class="image__overlay image__overlay--primary">
						<div class="image__title">About Hockey</div>
            <div>Angular and Nodejs</div>
						<p class="image__description">
              <br />
						<a type="button" class="btn btn-dark" href="https://marcmorata22.github.io/aboutHockey/" target="_blank">Website</a>
						<a type="button" class="btn btn-dark" style="margin-left: 5px;" href="https://github.com/marcmorata22/aboutHockey" target="_blank">Repository</a>
						</p>
						</div>
					</div>
			</div>
      <div class=" col-md-4"  style="padding: 10px;">
        <div class="image">
          <img class="image__img" src="assets/image/money.PNG">
          <div class="image__overlay image__overlay--primary">
          <div class="image__title">Control Money</div>
          <div>C# and SQL</div>
          <p class="image__description">
            <br />
          <a type="button" class="btn btn-dark" style="margin-left: 5px;" href="https://github.com/marcmorata22/ControlMoney" target="_blank">Repository</a>
          </p>
          </div>
        </div>
    </div>
		</div>
	</div>
</div>
</section>
