.mynavbar{
    padding: 5px;       
    background-color:rgba(22,28,36,0.8);
    z-index: 5;
    border-bottom: solid;
    border-width: 0.01px;
    border-color:#4B4F58;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
}
.navbar__links {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}
.iconHome { 
    color:green;
    font-size: 120%;
    color:white;
}
.iconHome:hover { 
    color:#007b55;
}