<div class="row">
  <nav class="navbar navbar-expand-lg navbar-dark mynavbar" style="padding-left: 5%;">
          <a href="#" class="navbar-brand iconHome"><i class="fa fa-home iconHome"></i></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-md-8" id="navbarMenu">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" href="#about">About</a>
                </li>               
                <li class="nav-item">
                  <a class="nav-link" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact</a>
                </li>
              </ul>
          </div>
   </nav>
</div>
<br /><br /> 
<home></home>
<br /><br /><br /><br /><br /><br />
<portfolioSelector> </portfolioSelector>
<br /><br /><br /><br /><br /><br />
<contactSelector></contactSelector>